# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
# Your code here

import pandas as pd
import re

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")


df.columns = (df.columns
    .str.strip()
    .str.lower()
    .str.replace(r"\s", "_", regex = True)
)

df = df.rename(columns={
    "st": "state",
    "amt": "amount",
})

print(df.columns.tolist())

['customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [2]:
# Your code here
def clean_colname(col):
    col = col.strip()
    col = col.lower()
    col = re.sub(r"\s+", "_", col)
    col = re.sub(r"[^\w_]", "", col)         
    col = re.sub(r"_+", "_", col)
    return col

df.columns = [clean_colname(c) for c in df.columns]

print("Columns after normalization:")
print(df.columns.tolist())
print("\n---\n")

column_names = ["gender", "state", "education", "customer_lifetime_value", "vehicle_class"]
print("Column Names Before Cleaning: ")

for c in column_names:
    if c in df.columns:
        print(f"\n{c}: ")
        print(df[c].astype(str).value_counts(dropna = False).head(30))
    else:
        print(print(f"\n{c}: (column not present)"))
print("\n---\n")

# Cleaning Gender Column
gender_map = {
    "female": "F", "f": "F", "femal": "F", "fem": "F", "fe": "F", "woman": "F",
    "female ": "F", "female\t": "F",
    "male": "M", "m": "M", "maile": "M", "male ": "M", "man": "M"
}

def clean_gender_col(x):
    if pd.isna(x):
        return x

    s = str(x).strip().lower()
    if s in gender_map:
        return gender_map[s]

    if s in ("m", "f"):
        return s.upper()

    if s and s[0] in ("m", "f"):
        return [0].upper()
    return x

if "gender" in df.columns:
    df["gender"] = df["gender"].apply(clean_gender_col)

# Cleaning State Column
state_map = {
    "az": "Arizona",
    "ca": "California",
    "wa": "Washington",
    "ny": "New York",
    "cali": "California"
}

def clean_state_col(x):
    if pd.isna(x):
        return x
        
    s = str(x).strip().lower()

    s_clean = re.sub(r"[^\w]", "", s)
    return state_map.get(s_clean, x)

if "state" in df.columns:
    df["state"] = df["state"].apply(clean_state_col)

# Cleaning Education Column
education_map = {
    "bachelor's": "Bachelor",
    "masters": "Master",
    "phd": "PhD",
    "highschool": "High School",
    "high school": "High School",
    "associate": "Associate",
    "bachelors": "Bachelor"
}

def clean_education_col(x):
    if pd.isna(x):
        return x
    
    s = str(x).strip()
    
    key = re.sub(r"[^\w]", "", s.lower())
    return education_map.get(key, s)

if "education" in df.columns:
    df["education"] = df["education"].apply(clean_education_col)

# Cleaning Customer lifetime value Column
def clean_clv(x):
    if pd.isna(x):
        return x
        
    s = str(x).strip()
    s = s.replace("%", "").replace(",", "")

    try:
        return float(s)
    except:
        return x

if "customer_lifetime_value" in df.columns:
    df["customer_lifetime_value"] = df["customer_lifetime_value"].apply(clean_clv)

# Cleaning Vehicle column
vehicle_map = {
    "sports car": "Luxury",
    "luxury suv": "Luxury",
    "luxury car": "Luxury",
    "luxury": "Luxury",
    "sports": "Sports",
}

def clean_vehicle_column(col):
    if pd.isna(col):
        return col
        
    s = str(col).strip().lower()
    s_nopunct = re.sub(r"[^\w\s]", "", s)

    if s_nopunct in vehicle_map:
        return vehicle_map[s_nopunct]

    if "luxury" in s_nopunct:
        return "Luxury"
    if "sport" in s_nopunct:
        return "Sports"
    return s.title()

if "vehicle_class" in df.columns:
    df["vehicle_class"] = df["vehicle_class"].apply(clean_vehicle_column)

print("Column names AFTER cleaning: ")
for t in column_names:
    if t in df.columns:
        print(f"\n{t}:")
        print(df[t].astype(str).value_counts(dropna=False).head(50))
    else:
        print(f"\n{t}: (column not present)")

Columns after normalization:
['customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

---

Column Names Before Cleaning:

gender:
gender
nan       3054
F          457
M          413
Male        39
female      28
Femal       17
Name: count, dtype: int64

state:
state
nan           2937
Oregon         320
California     211
Arizona        186
Cali           120
Nevada          98
Washington      81
WA              30
AZ              25
Name: count, dtype: int64

education:
education
nan                     2937
Bachelor                 324
College                  313
High School or Below     296
Master                    94
Doctor                    37
Bachelors                  7
Name: count, dtype: int64

customer_lifetime_value:
customer_lifetime_value
nan            2940
445811.34%        4
251459.20%        4
477294.38%        3
272535.64%        3
578018.22%        3
684615.03%        3
2412750.40%       3
2359468.02%       2
373150.46%        2
343613.43%        2
272221.07%        2
258240.85%        2
800230.83%        2
239391.54%        2
3347334.95%       2
387364.70%        2
388545.64%        2
559538.99%        2
604702.52%        2
277104.50%        2
417068.73%        2
598977.39%        2
1017971.70%       2
1215732.99%       2
575744.23%        2
907576.82%        2
411858.86%        2
222707.28%        2
253070.51%        2
Name: count, dtype: int64

vehicle_class:
vehicle_class
nan              2937
Four-Door Car     576
Two-Door Car      205
SUV               199
Sports Car         57
Luxury SUV         20
Luxury Car         14
Name: count, dtype: int64

---

Column names AFTER cleaning:

gender:
gender
nan    3054
F       502
M       452
Name: count, dtype: int64

state:
state
nan           2937
California     331
Oregon         320
Arizona        211
Washington     111
Nevada          98
Name: count, dtype: int64

education:
education
nan                     2937
Bachelor                 331
College                  313
High School or Below     296
Master                    94
Doctor                    37
Name: count, dtype: int64

customer_lifetime_value:
customer_lifetime_value
nan           2940
445811.34        4
251459.2         4
477294.38        3
272535.64        3
578018.22        3
684615.03        3
2412750.4        3
2359468.02       2
373150.46        2
343613.43        2
272221.07        2
258240.85        2
800230.83        2
239391.54        2
3347334.95       2
387364.7         2
388545.64        2
559538.99        2
604702.52        2
277104.5         2
417068.73        2
598977.39        2
1017971.7        2
1215732.99       2
575744.23        2
907576.82        2
411858.86        2
222707.28        2
253070.51        2
462680.11        2
538089.86        2
758211.38        2
477368.64        1
544142.01        1
284226.69        1
305955.03        1
2031499.76       1
323912.47        1
816261.71        1
287205.13        1
617710.93        1
245019.1         1
239210.79        1
580206.6         1
394637.21        1
916206.32        1
1290256.01       1
323536.05        1
245458.35        1
Name: count, dtype: int64

vehicle_class:
vehicle_class
nan              2937
Four-Door Car     576
Two-Door Car      205
Suv               199
Luxury             91
Name: count, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [3]:
# Your code here

print("Initial dtypes:")
print(df.dtypes)
print("\nColumns:")
print(df.columns.tolist())

# identify likely column names (adjust if your file uses slightly different names)
clv_col = "customer_lifetime_value"
complaints_col = None

# try guesses for complaints column name
for candidate in ["number_of_open_complaints", "number_of_open_complaint", "open_complaints", "num_open_complaints"]:
    if candidate in df.columns:
        complaints_col = candidate
        break

print("\nFound columns:")
print("customer_lifetime_value ->", clv_col in df.columns)
print("number_of_open_complaints ->", complaints_col)

# Show unique samples BEFORE cleaning
if clv_col in df.columns:
    print("\nSample unique values for customer_lifetime_value (BEFORE):")
    print(df[clv_col].astype(str).value_counts(dropna=False).head(40))

if complaints_col:
    print("\nSample unique values for", complaints_col, "(BEFORE):")
    print(df[complaints_col].astype(str).value_counts(dropna=False).head(60))
else:
    print("\nCould not find complaints column automatically. Check column names and update the script's candidate list.")

# 2) Convert Customer Lifetime Value -> numeric
def clean_clv_to_numeric(x):
    if pd.isna(x):
        return x
    s = str(x).strip()
    # remove percent / currency characters and thousands separators
    s = s.replace("%", "").replace("$", "").replace(",", "")
    # take the first numeric substring (handles trailing text)
    m = re.search(r"-?\d+(\.\d+)?", s)
    if m:
        return float(m.group(0))
    # fallback attempt
    try:
        return float(s)
    except:
        return pd.NA

if clv_col in df.columns:
    df["customer_lifetime_value_cleaned"] = df[clv_col].apply(clean_clv_to_numeric)
    # cast to numeric (float). If you want integers, cast after inspecting.
    df["customer_lifetime_value_cleaned"] = pd.to_numeric(df["customer_lifetime_value_cleaned"], errors="coerce")

# 3) Parse Number of Open Complaints: take the middle part of delimited values
def extract_middle_numeric(val):
    if pd.isna(val):
        return val
        
    s = str(val).strip()
    
    # if already a plain integer-looking string, return it
    if re.fullmatch(r"\d+", s):
        return int(s)
    
    # split on common separators (/, -, :, whitespace)
    parts = re.split(r"[\/\-\:\s]+", s)
    parts = [p for p in parts if p != ""]
    
    if not parts:
        return pd.NA
    
    mid_idx = len(parts) // 2  # e.g. for 3 parts, idx=1 -> middle
    
    candidate = parts[mid_idx]
    
    m = re.search(r"\d+", candidate)
    
    if m:
        return int(m.group(0))
    
    # fallback: scan parts for any numeric and return first
    for p in parts:
        m = re.search(r"\d+", p)
        if m:
            return int(m.group(0))
    return pd.NA

if complaints_col:
    df["number_of_open_complaints_cleaned"] = df[complaints_col].apply(extract_middle_numeric)
    
    # cast to pandas nullable integer if possible
    try:
        df["number_of_open_complaints_cleaned"] = df["number_of_open_complaints_cleaned"].astype("Int64")
    except Exception:
        # fallback to numeric with coercion
        df["number_of_open_complaints_cleaned"] = pd.to_numeric(df["number_of_open_complaints_cleaned"], errors="coerce")

# 4) Show AFTER summaries
print("\n--- AFTER cleaning samples ---")

if clv_col in df.columns:
    print("\ncustomer_lifetime_value (AFTER) value counts (top 40):")
    print(df["customer_lifetime_value_cleaned"].value_counts(dropna=False).head(40))

if complaints_col:
    print("\nnumber_of_open_complaints (AFTER) value counts (top 40):")
    print(df["number_of_open_complaints_cleaned"].value_counts(dropna=False).head(40))

# 5) Show dtypes for cleaned columns
print("\nDtypes of cleaned columns:")
for c in ["customer_lifetime_value_cleaned", "number_of_open_complaints_cleaned"]:
    if c in df.columns:
        print(c, "->", df[c].dtype)

Initial dtypes:
customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

Columns:
['customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

Found columns:
customer_lifetime_value -> True
number_of_open_complaints -> number_of_open_complaints

Sample unique values for customer_lifetime_value (BEFORE):
customer_lifetime_value
nan           2940
445811.34        4
251459.2         4
477294.38        3
272535.64        3
578018.22        3
684615.03        3
2412750.4        3
2359468.02       2
373150.46        2
343613.43        2
272221.07        2
258240.85        2
800230.83        2
239391.54        2
3347334.95       2
387364.7         2
388545.64        2
559538.99        2
604702.52        2
277104.5         2
417068.73        2
598977.39        2
1017971.7        2
1215732.99       2
575744.23        2
907576.82        2
411858.86        2
222707.28        2
253070.51        2
462680.11        2
538089.86        2
758211.38        2
477368.64        1
544142.01        1
284226.69        1
305955.03        1
2031499.76       1
323912.47        1
816261.71        1
Name: count, dtype: int64

Sample unique values for number_of_open_complaints (BEFORE):
number_of_open_complaints
nan       2937
1/0/00     830
1/1/00     138
1/2/00      50
1/3/00      34
1/4/00      13
1/5/00       6
Name: count, dtype: int64

--- AFTER cleaning samples ---

customer_lifetime_value (AFTER) value counts (top 40):
customer_lifetime_value_cleaned
NaN           2940
445811.34        4
251459.20        4
477294.38        3
272535.64        3
578018.22        3
684615.03        3
2412750.40       3
2359468.02       2
373150.46        2
343613.43        2
272221.07        2
258240.85        2
800230.83        2
239391.54        2
3347334.95       2
387364.70        2
388545.64        2
559538.99        2
604702.52        2
277104.50        2
417068.73        2
598977.39        2
1017971.70       2
1215732.99       2
575744.23        2
907576.82        2
411858.86        2
222707.28        2
253070.51        2
462680.11        2
538089.86        2
758211.38        2
477368.64        1
544142.01        1
284226.69        1
305955.03        1
2031499.76       1
323912.47        1
816261.71        1
Name: count, dtype: int64

number_of_open_complaints (AFTER) value counts (top 40):
number_of_open_complaints_cleaned
<NA>    2937
0        830
1        138
2         50
3         34
4         13
5          6
Name: count, dtype: Int64

Dtypes of cleaned columns:
customer_lifetime_value_cleaned -> float64
number_of_open_complaints_cleaned -> Int64

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [14]:
# Your code here

df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(r"\s+", "_", regex=True)
      .str.replace(r"[^\w_]", "", regex=True)
)

missing_counts = df.isnull().sum()
print("Null values per column: ", missing_counts)

df = df.dropna()

num_cols = df.select_dtypes(include = ["float", "int", "int64"]).columns
cat_cols = df.select_dtypes(include = ["object"]).columns

print("\nNumeric columns:", num_cols)
print("Categorical columns:", cat_cols)

for cols in num_cols:
    if df[cols].isnull().any():
        df[cols] = df[cols].fillna(df[cols].median())

for cols in cat_cols:
    if df[cols].isnull().any():
        mode = df[cols].mode(dropna = True)
        if len(mode) > 0:
            df[cols] = df[cols].fillna(mode[0])

print("\nAfter imputation, missing values per column:")
print(df.isnull().sum())

for cols in num_cols:
    df[cols] = df[cols].astype(int)

Null values per column:  customer                             0
state                                0
gender                               0
education                            0
customer_lifetime_value              0
income                               0
monthly_premium_auto                 0
number_of_open_complaints            0
policy_type                          0
vehicle_class                        0
total_claim_amount                   0
customer_lifetime_value_cleaned      0
number_of_open_complaints_cleaned    0
dtype: int64

Numeric columns: Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'total_claim_amount', 'customer_lifetime_value_cleaned',
       'number_of_open_complaints_cleaned'],
      dtype='object')
Categorical columns: Index(['customer', 'state', 'gender', 'education', 'number_of_open_complaints',
       'policy_type', 'vehicle_class'],
      dtype='object')

After imputation, missing values per column:
customer                             0
state                                0
gender                               0
education                            0
customer_lifetime_value              0
income                               0
monthly_premium_auto                 0
number_of_open_complaints            0
policy_type                          0
vehicle_class                        0
total_claim_amount                   0
customer_lifetime_value_cleaned      0
number_of_open_complaints_cleaned    0
dtype: int64

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [17]:
# Your code here

duplicate_count = df.duplicated().sum()
print(f"Total number of duplicate rows: {duplicate_count}")

if duplicate_count > 0:
    df_cleaned = df.drop_duplicates(keep = 'first')

    new_duplicate_count = df_cleaned.duplicated().sum()
    print(f"Total number of duplicate rows after cleaning: {new_duplicate_count}")
    print(f"Cleaned dataset shape: {df_cleaned.shape}")

    output_filename = 'cleaned_data_file.csv'
    df_cleaned.to_csv(output_filename, index = False)
    print(f"Cleaned dataset successfully saved to: {output_filename}")
else:
    df_cleaned = df
    print("No duplicates found. Data is already clean.")

df_cleaned.head()

Total number of duplicate rows: 0
No duplicates found. Data is already clean.

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,customer_lifetime_value_cleaned,number_of_open_complaints_cleaned
1,QZ44356,Arizona,F,Bachelor,697953,0,94,1/0/00,Personal Auto,Four-Door Car,1131,697953,0
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,1/0/00,Personal Auto,Two-Door Car,566,1288743,0
3,WW63253,California,M,Bachelor,764586,0,106,1/0/00,Corporate Auto,Suv,529,764586,0
4,GA49547,Washington,M,High School or Below,536307,36357,68,1/0/00,Personal Auto,Four-Door Car,17,536307,0
5,OC83172,Oregon,F,Bachelor,825629,62902,69,1/0/00,Personal Auto,Two-Door Car,159,825629,0

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here